body { 
    background-color: black;
}

.header {
    width: 100%;
    height: auto;
    margin: auto;
}

img {
    width: 100%;
    height: auto;
    object-fit: contain;
}



.payment-button {
    margin: auto;
    width: 25%;
    height: auto;
   
}

form {
    background-color: white;
}

input [type=text] {
    color: white;
}


