body { 
    background-color: black;
}

.header {
    width: 100%;
    height: auto;
    margin: auto;
}

img {
    width: 100%;
    height: auto;
    object-fit: contain;
}



.payment-button {
    margin: auto;
    width: 25%;
    height: auto;
   
}

form {
    text-align: center;
    margin: auto;
    width: 20rem;
    height: auto;

    
    
}

table {
     width: 20rem;
     text-align: center;
     color: white;
}

input[type=image] {

}


